<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicB</title>
    <!--    <script src="/javascripts/fontawesome-all.js"></script>-->
</head>

<body>
    <div class="container">
        <img src="/images/login_left_edited.jpg" alt="Login" class="login-img">
        <h3>Member Login</h3>

        <form method="post" action="/users/login">
            <div class="form-input">
                <span class="fa fa-envelope fonticon"></span>
                <input type="email" name="email" placeholder="Enter Email ID">
            </div>
            <div class="form-input">
                <span class="fa fa-key fonticon"></span>
                <input type="password" name="password" placeholder="Enter Password">
            </div>
            <input type="submit" name="submit" value="LOGIN" class="login-btn">
        </form>
    </div>

</body>

</html>
